*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px white,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);

}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgba(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -1px 0px 13px #000000;
     border:none;
     border-radius: 60%;
     margin: 8px;
     font-size: 20px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff
                 5px 5px 12px rgba(0,0,0,.16);
}
h1{
    font-family:sans-serif bold;
   left: 39%;
position: absolute;
top: 100px;
font-size: 40px;
border: none;
background-color:rgb(151, 161, 161);
border-radius: 22%;
box-shadow:-1px 0px 13px #000000 ;

}
@media (max-width:1440px) {
    h1{top: 480px;}
    
}
@media (max-width:2560px) {
    h1{
        top: 300px;
        left: 1113px;
    }
    
}
@media(max-width:1440px) {
    h1{
        top: 32px;
        left: 555px;
    }
    
}
@media(max-width:1024px) {
    h1{
        top: 16px;
        left: 346px;
    }
    
}
@media(max-width:768px) {
    h1{
        top: 8px;
        left: 219px;
    }
    
}   
@media(max-width:425px) {
    h1{
        top: 4px;
        left: 50px;
    }
    
}   
@media(max-width:375px) {
    h1{
        top: 6px;
        left: 25px;
    }
    
}   
@media(max-width:320px) {
    h1{
        
            top: 5px;
            left: -14px;
            width: 355px;
        }
    }
    
  
    
    
